body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 21px;
}

input,
input:hover,
input:active,
input:focus {
    outline: none !important;
    -webkit-appearance: none !important;
}

.page-column-1100 {
    max-width: 1100px;
    margin: 0 auto;
}

.page-head-h2 {
    font-weight: bold;
    margin-bottom: 23px;
    font-size: 23px;
}

.display-flex {
    display: flex;
}

.page-button {
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    padding: 12px 0;
    border-radius: 10px;
    font-size: 20px;
    width: 160px;
}

.align-items-center {
    align-items: center;
}

.bold {
    font-weight: bold;
}

.background-f8f8f8 {
    background: #f8f8f8;
}

.padding-right-200 {
    padding-right: 200px;
}

.padding-left-200 {
    padding-left: 200px;
}

.style-link-black {
    color: #000;
    text-decoration: none;
}

.menu {
    display: flex;
    position: fixed;
    background: #fff;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    z-index: 100;
}

.menu-logo-img-size {
    max-width: 40px;
}

.menu-logo-text-style {
    margin-left: 15px;
}

.menu-link {
    padding: 0 10px;
}

.menu-items-style a:hover {
    text-decoration: underline;
}

.first-window {
    background: url('../images/banner.jpg') center -329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 117px;
    height: 404px;
    justify-content: center;
    background-size: 100%;
    text-align: center;
    color: #fff;
}

.first-window-logo-contain {
    width: 167px;
}

.first-window-log-img {
    width: 100%;
}

.first-window-big-head {
    font-size: 47px;
    margin-bottom: 5px;
}

.first-window-small-head {
    font-size: 21px;
    margin-bottom: 38px;
}

.first-window-button {
    color: #fff;
    border: 1px solid #fff;
}

.first-window-button:hover {
    color: #000;
    background: #ffb52d;
    border: 1px solid #ffb52d;
}

.our-advantage-content-contain {
    max-width: 1200px;
    height: 293px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}

.our-advantage-item {
    flex-grow: 1;
    flex-basis: 300px;
}

.our-advantage-head {
    margin-bottom: 23px;
    font-size: 23px;
}

.our-advantage-text {
    padding-right: 34px;
    font-size: 16px;
}

.about-item-content {
    height: 380px;
}

.about-item-revers {
    flex-direction: row-reverse;
}

.about-item-text-contain {
    flex-basis: 739px;
    height: 256px;
    box-sizing: border-box;
}

.about-item-text {
    margin-bottom: 10px;
    font-size: 16px;
}

.about-item-img-contain {
    flex-basis: 390px;
}

.about-item-img {
    width: 100%;
}

.main-form {
    height: 650px;
}

.main-form-item {
    max-width: 460px;
    margin: 0 auto;
    padding-top: 70px;
}

.main-form-head {
    text-align: center;
}

.main-form-fieldset {
    border: 2px solid #057f67;
    margin-bottom: 20px;
    position: relative;
    flex-direction: column;
    padding: 0 21px;
}

.main-form-first-part {
    margin-bottom: 25px;
}

.main-form-legend {
    color: #09d3ac;
    font-size: 19px;
    left: 21px;
    margin-bottom: 25px;
}

.main-form-label {
    margin-bottom: 24px;
    justify-content: space-between;
    font-size: 16px;
}

.main-form-select {
    flex-basis: 186px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 7px;
}

.main-form-input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 7px;
}

.main-form-submit {
    border: 1px solid #0ad3ac;
    color: #0ad3ac;
    background: transparent;
    cursor: pointer;
}

.main-form-submit:hover {
    background: #0ad3ac;
    color: #fff;
}

.footer {
    color: #fff;
    background: #303846;
}

.footer-content {
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-around;
    height: 212px;
}

.footer-logo-contain {
    margin-bottom: 12px;
}

.footer-logo-img {
    width: 36px;
}

.footer-logo-text {
    padding-left: 14px;
}

.footer-head {
    margin-bottom: 15px;
}

.footer-ul {
    padding-left: 40px;
}

.footer-ul li {
    margin-bottom: 6px;
    list-style: disc;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
