p, span, a, div, form, ul, ol {
    font-family: sans-serif;
}

.page_column_1100 {
    max-width: 1100px;
    margin: 0 auto;
}

.page_head_h2 {
    font-weight: bold;
    margin-bottom: 23px;
    font-size: 23px;
}

.menu {

display: flex;

position: fixed;

background: #fff;

justify-content: space-between;

width: 100%;

align-items: center;

box-sizing: border-box;

padding: 15px;
}

.menu__logo-contain {

display: flex;

text-decoration: none;

color: #000;

align-items: center;
}

.menu__logo-img {

}

.menu__logo-img_size {

max-width: 40px;
}

.menu__logo-text {

}

.menu__logo-text_style {

font-family: sans-serif;

margin-left: 15px;

font-weight: bold;
}

.menu__items-contain {

display: flex;

width: 360px;

justify-content: space-between;

font-weight: bold;
}

.menu__items_style {
}

.menu__items_style a {

color: #000;

text-decoration: none;
}

.first-window {
    background: url('../images/banner.jpg') center -329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 117px;
    height: 404px;
    justify-content: center;
    background-size: 100%;
    padding-bottom: 0px;
    text-align: center;
    color: #fff;
}

.first-window__logo-contain {

width: 167px;
}

.first-window__log-img {

width: 100%;
}

.first-window__big-head {

font-size: 47px;

font-weight: bold;

margin-bottom: 5px;
}

.first-window__small-head {

font-size: 21px;

margin-bottom: 38px;
}

.first-window__button {

color: #fff;

text-decoration: none;

box-sizing: border-box;

width: 160px;

border: 1px solid #fff;

display: block;

padding: 12px 0;

border-radius: 10px;

font-size: 20px;
}

.first-window__button:hover {
    color: #000;
    background: #ffb52d;
    border: 1px solid #ffb52d;
}

.our-advantage {

}

.our-advantage__content-contain {

max-width: 1200px;

height: 293px;

margin: 0 auto;

display: flex;

justify-content: center;

align-items: center;

box-sizing: border-box;
}

.our-advantage__item {

flex-grow: 1;

flex-basis: 300px;
}

.our-advantage__head {

font-weight: bold;

margin-bottom: 23px;

font-size: 23px;
}

.our-advantage__text {

padding-right: 34px;

font-size: 14px;

line-height: 21px;
}

.about-complex {

background: #f8f8f8;
}

.about-complex__content {
display: flex;
height: 380px;
/* flex-grow: 1; */
align-items: center;
}

.about-complex__text-contain {
flex-basis: 739px;
height: 256px;
padding-right: 200px;
box-sizing: border-box;
}

.about-complex__head {

}

.about-complex__text {
line-height: 21px;
margin-bottom: 10px;
}

.about-complex__img-contain {
/* width: 390px; */
flex-basis: 390px;
}

.about-complex__img {
width: 100%;
}

.vacation-spot {

}

.vacation-spot__content {
box-sizing: border-box;
display: flex;
height: 380px;
align-items: center;
flex-direction: row-reverse;
}


.vacation-spot__text-contain {
flex-basis: 739px;
height: 256px;
padding-left: 200px;
box-sizing: border-box;
}

.vacation-spot__head {

}

.vacation-spot__text {
line-height: 21px;
margin-bottom: 10px;
}

.vacation-spot__img-contain {
flex-basis: 390px;
}

.vacation-spot__img {
width: 100%;
}

