p, span, a, div, form, ul, ol {
    font-family: sans-serif;
}

input,
input:hover,
input:active,
input:focus {
    outline: none !important;
    -webkit-appearance: none !important;
}

.page_column_1100 {
    max-width: 1100px;
    margin: 0 auto;
}

.page_head_h2 {
    font-weight: bold;
    margin-bottom: 23px;
    font-size: 23px;
}

.display_flex {
    display: flex;
}

.page_button {
    text-decoration: none;
    box-sizing: border-box;
    display: block;
    padding: 12px 0;
    border-radius: 10px;
    font-size: 20px;
    width: 160px;
}

.align_items-center {
    align-items: center;
}

.bold {
    font-weight: bold;
}

.background_f8f8f8 {
    background: #f8f8f8;
}

.padding_right_200 {
    padding-right: 200px;
}

.padding_left_200 {
    padding-left: 200px;
}

.menu {
    display: flex;
    position: fixed;
    background: #fff;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 15px;
    z-index: 100;
}

.menu__logo-contain {
    text-decoration: none;
    color: #000;
}

.menu__logo-img_size {
    max-width: 40px;
}

.menu__logo-text_style {
    font-family: sans-serif;
    margin-left: 15px;
}

.menu__items-contain {
    width: 360px;
    justify-content: space-between;
}

.menu__items_style a {
    color: #000;
    text-decoration: none;
}

.menu__items_style a:hover {
    text-decoration: underline;
}

.first-window {
    background: url('../images/banner.jpg') center -329px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 117px;
    height: 404px;
    justify-content: center;
    background-size: 100%;
    text-align: center;
    color: #fff;
}

.first-window__logo-contain {
    width: 167px;
}

.first-window__log-img {
    width: 100%;
}

.first-window__big-head {
    font-size: 47px;
    margin-bottom: 5px;
}

.first-window__small-head {
    font-size: 21px;
    margin-bottom: 38px;
}

.first-window__button {
    color: #fff;
    border: 1px solid #fff;
}

.first-window__button:hover {
    color: #000;
    background: #ffb52d;
    border: 1px solid #ffb52d;
}

.our-advantage__content-contain {
    max-width: 1200px;
    height: 293px;
    margin: 0 auto;
    display: flex;
    box-sizing: border-box;
}

.our-advantage__item {
    flex-grow: 1;
    flex-basis: 300px;
}

.our-advantage__head {
    margin-bottom: 23px;
    font-size: 23px;
}

.our-advantage__text {
    padding-right: 34px;
    font-size: 14px;
    line-height: 21px;
}

.about-item__content {
    height: 380px;
}

.about-item_revers {
    flex-direction: row-reverse;
}

.about-item__text-contain {
    flex-basis: 739px;
    height: 256px;
    box-sizing: border-box;
}

.about-item__text {
    line-height: 21px;
    margin-bottom: 10px;
}

.about-item__img-contain {
    flex-basis: 390px;
}

.about-item__img {
    width: 100%;
}

.main-form {
    height: 650px;
}

.main-form__item {
    max-width: 460px;
    margin: 0 auto;
    padding-top: 70px;
}

.main-form__head {
    text-align: center;
}

.main-form__fieldset {
    border: 2px solid #057f67;
    margin-bottom: 20px;
    position: relative;
    flex-direction: column;
    padding: 0 21px;
}

.main-form__first-part {
    margin-bottom: 25px;
}

.main-form__legend {
    color: #09d3ac;
    font-size: 19px;
    left: 21px;
    margin-bottom: 25px;
}

.main-form__label {
    margin-bottom: 24px;
    justify-content: space-between;
}

.main-form__select {
    flex-basis: 186px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 7px;
}

.main-form__input {
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 7px;
}

.main-form__submit {
    border: 1px solid #0ad3ac;
    color: #0ad3ac;
    background: transparent;
    cursor: pointer;
}

.main-form__submit:hover {
    background: #0ad3ac;
    color: #fff;
}

.footer {
    color: #fff;
    background: #303846;
}

.footer__content {
    max-width: 1300px;
    margin: 0 auto;
    justify-content: space-around;
    height: 212px;
}

.footer__logo-contain {
    margin-bottom: 12px;
}

.footer__logo-img {
    width: 36px;
}

.footer__logo-text {
    padding-left: 14px;
}

.footer__head {
    margin-bottom: 15px;
}

.footer__ul {
    padding-left: 40px;
}

.footer__ul li {
    margin-bottom: 6px;
    list-style: disc;
}

.footer__link {
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
